*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --dark-font: #222222;
    --light-font: #888888;
    --dark-border: #222222;
    --light-border: #CCCCCC;
    --star-color: #C90000;
    --header-bg: #F6F6F7;
}

/** nav bar */
header{
    position: relative;
}

.nav-bar{
    background-color: var(--header-bg);
    padding: 0.5rem 0;
    display: grid;
    grid-template-columns: 1fr 300px;
}

#my-cart{
    width: 100px;
    grid-column: 2/3;
    color: var(--light-font)
}

/** cart */
.cart-group{
    display: none;
    position: absolute;
    right: 200px;
    width: 300px;
}
.close{
    text-align: right;
    border: var(--light-border) 1px solid;
}
.nothing{
    text-align: center;
    border: var(--light-border) 1px solid;
    margin: 0;
    padding: 1rem;
    background-color: white;
}
.cart-item{
    padding: 1rem;
    background-color: white;
    border: var(--light-border) 1px solid;
    color: var(--dark-font);
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 2rem;
    z-index: 1;
}

.cart-img{
    width: 100px;
}

.show {
    display: block;
}

/** section */
.cloth-item{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    align-items: start;
}

.item-img{
    margin-top: 1rem;
    width: 50%;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/3;
}

/** text */
.item-text{
    width: 50%;
    justify-self: start;
    grid-column: 2/3;
    grid-row: 1/2;
}

.item-title, .item-price{
    color: var(--dark-font);
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: var(--light-border) 1px solid; 
}

.item-desc, .item-size{
    color: var(--light-font);
}

.star{
    color: var(--star-color);
}

/** button */
.btn{
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn-group{
    margin-bottom: 1rem;
}

.btn--size{
    color: var(--light-font);
    border: var(--light-border) 1px solid;
    padding: 1rem 1.5rem;
}

.btn--size:focus{
    border: var(--dark-border) 2px solid;
}

.btn--cart{
    color: var(--dark-font);
    border: var(--dark-border) 2px solid;
    padding: 1rem 1.8rem;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
    width: 200px;
    justify-self: start;
    align-self: start;
    grid-column: 2/3;
    grid-row: 2/3;
}

.btn--cart:hover{
    background-color: var(--dark-border);
    color: var(--light-font);
}

/** vertical ipad */
@media only screen and (max-width: 991px) {
    .nav-bar{
        grid-template-columns: 1fr 100px;
    }
    .cart-group{
        position: absolute;
        right: 30px;
        width: 300px;
    }
    .item-img{
        width: 70%;

    }
    .item-text{
        width: 70%;
        margin: 0 2rem;
    }
    .btn--cart{
        margin: 0 2rem;
    }
}

/** mobile */
@media only screen and (max-width: 575px) {
    .cloth-item{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr auto auto;
    }

    .item-img{
        width: 90%;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .item-text{
        width: 90%;
        justify-self: center;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .btn--cart{
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 0 1rem;
    }
    .item-title, .item-price{
        border-bottom: none; 
    }
}